nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
                //- if you want you may use the font awesome icon instead
                //- i.fa.fa-lg.fa-bars
            a.navbar-brand(href='/') #{application}
        .collapse.navbar-collapse
            if user
                ul.nav.navbar-nav
                    li(class=title=='Schedule'?'active':undefined)
                        a(href='/schedule') Schedule


                ul.nav.navbar-nav

                    li.dropdown(class=title=='Management'?'active':undefined)
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Management &nbsp;
                            i.caret
                            ul.dropdown-menu
                                li: a(href='/management/services') Services
                                li: a(href='/management/providers') Providers
                                li: a(href='/management/locations') Locations
                                li: a(href='/management/schedule/settings') Schedule Settings
                                li.divider
                                li: a(href='/management/bookingform') Booking Form
                                li: a(href='/management/widget') Booking Widget

                //- Right side
                ul.nav.navbar-nav.navbar-right

                    //- Visible to Admin users only!
                    if user.type == 'admin'
                        li.dropdown(class=url=='/administration'?'active':undefined)
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-fw.fa-cogs
                                | &nbsp;Admin&nbsp;
                                b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/dashboard')
                                            i.fa.fa-fw.fa-laptop
                                            | &nbsp;Dashboard
                                    li
                                        a(href='/accounts')
                                            i.fa.fa-fw.fa-users
                                            | &nbsp;Accounts

                    //- User account
                    li.dropdown(class=url=='/account'?'active':undefined)
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            if user.profile.picture
                                img.profile-image(src='#{user.profile.picture}')
                            else
                                img.profile-image(src='#{user.gravatar(60)}')
                            | #{user.profile.name || user.email || user.id}&nbsp;
                            b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/settings/application')
                                        i.fa.fa-fw.fa-cog
                                        | &nbsp;Application Settings
                                li
                                    a(href='/account')
                                        i.fa.fa-fw.fa-user
                                        | &nbsp;My Account
                                li
                                    a(href='/contact')
                                        i.fa.fa-fw.fa-envelope-o
                                        | &nbsp;Contact Us
                                li.divider
                                li
                                    a(href='/logout')
                                        i.fa.fa-fw.fa-sign-out
                                        | &nbsp;Logout

            else
                //- No user/not logged in
                ul.nav.navbar-nav.navbar-right
                    li(class=url=='/login'?'active':undefined)
                        a(href='/login')
                            i.fa.fa-sign-in.fa-fw
                            | &nbsp;Sign In
