extends ../layouts/layout
block head
    title #{application} &middot; Provider
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Provider
                form.form-horizontal(role='form', id='providerForm', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)

                    .form-group
                        .col-sm-3
                            ul(class="nav nav-pills nav-stacked", id="settings_tab")
                                li(class="active")
                                    a(href="#general", data-toggle="pill") General
                                li
                                    a(href="#availability", data-toggle="pill") Availability
                                li
                                    a(href="#services", data-toggle="pill") Services
                                li
                                    a(href="#breaks", data-toggle="pill") Breaks
                        .col-sm-9
                            .tab-content
                                .tab-pane(id="general", class="active")
                                    .form-group
                                        .col-sm-offset-2
                                            h3 General Settings
                                    .form-group
                                        label.col-sm-3.control-label(for='first_name') First Name
                                        .col-sm-4
                                            input.form-control(type='text', name='first_name', id='first_name', value='#{provider.first_name}')
                                    .form-group
                                        label.col-sm-3.control-label(for='last_name') Last Name
                                        .col-sm-4
                                            input.form-control(type='text', name='last_name', id='last_name', value='#{provider.last_name}')
                                    .form-group
                                        label.col-sm-3.control-label(for='title') Title
                                        .col-sm-4
                                            select(class='selectpicker', name='title')
                                                each personal_title in personal_titles
                                                    option(value=personal_title, selected=provider.title==personal_title) #{personal_title}
                                    .form-group
                                        label.col-sm-3.control-label(for='email') Email
                                        .col-sm-4
                                            input.form-control(type='text', name='email', id='email', autocomplete='off', value='#{provider.email}')
                                    .form-group
                                        label.col-sm-3.control-label(for='password') Password
                                        .col-sm-4
                                            input.form-control(type='password', name='password', autocomplete='off', id='password')
                                    .form-group
                                        label.col-sm-3.control-label(for='retype_password') Retype Password
                                        .col-sm-4
                                            input.form-control(type='password', name='retype_password', id='retype_password')
                                    .form-group
                                        label.col-sm-3.control-label(for='bio') Bio
                                        .col-sm-4
                                            textarea.form-control(name='bio', row="3", cols="10", id='bio')
                                    .form-group
                                        label.col-sm-3.control-label(for='image_url') Image
                                        .col-sm-4
                                            input.form-control(type='text', name='image_url', id='image_url', value='#{provider.image_url}')
                                    .form-group
                                        label.col-sm-3.control-label(for='name') Active
                                        .col-sm-4
                                            input(type='checkbox', name='active', id='active', checked='#{provider.active}'=='true')
                                    .form-group
                                        .col-sm-offset-3.col-sm-4
                                            button.btn.btn.btn-primary(type='submit') Save changes
                                .tab-pane(id="availability")
                                    .form-group
                                        .col-sm-offset-2
                                            h3 Availability
                                    .form-group
                                        label.col-sm-3.control-label(for='active_from') Available From
                                        .col-sm-4
                                            .rdatepicker(class="input-group date")
                                                input(data-format="dd/MM/yyyy hh:mm:ss", value="#{provider.active_from ? provider.active_from : ''}", name="active_from", type="text", class="form-control")
                                                span(class="input-group-addon")
                                                    span(class="fa fa-calendar")
                                    .form-group
                                        label.col-sm-3.control-label(for='active_to') Available To
                                        .col-sm-4
                                            .rdatepicker(class="input-group date")
                                                input(data-format="dd/MM/yyyy hh:mm:ss", value="#{provider.active_to ? provider.active_to : ''}", name="active_to", type="text", class="form-control")
                                                span(class="input-group-addon")
                                                    span(class="fa fa-calendar")
                                    .form-group
                                        label.col-sm-3.control-label(for='email') Holidays
                                        .col-sm-4

                                    .form-group
                                        label.col-sm-3.control-label(for='not_available_message') Not Available Message
                                        .col-sm-4
                                            input.form-control(type='text', name='not_available_message', id='not_available_message', value='#{provider.not_available_message}')
                                    .form-group
                                        label.col-sm-3.control-label(for='name') Book Online
                                        .col-sm-4
                                            input(type='checkbox', name='book_online', id='book_online', checked='#{provider.book_online}'=='true')
                                    .form-group
                                        .col-sm-offset-3.col-sm-4
                                            button.btn.btn.btn-primary(type='submit') Save changes

                                .tab-pane(id="services")
                                    .form-group
                                        .col-sm-offset-2
                                            h3 Services
                                    .form-group
                                        .col-sm-4
                                            each service in services
                                                p
                                                    input(type='checkbox', name='services', value='#{service._id}', checked='#{service.selected}'=='true')
                                                    |   #{service.name}
                                    .form-group
                                        .col-sm-offset-3.col-sm-4
                                            button.btn.btn.btn-primary(type='submit') Save changes

                                .tab-pane(id="breaks")
                                    .form-group
                                        .col-sm-offset-2
                                            h3 Breaks
                                        .form-group
                                        label.col-sm-3.control-label(for='sunday') Sunday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_sunday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.sunday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_sunday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.sunday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='monday') Monday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_monday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.monday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_monday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.monday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='tuesday') Tuesday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_tuesday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.tuesday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_tuesday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.tuesday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='wednesday') Wednesday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_wednesday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.wednesday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_wednesday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.wednesday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='thursday') Thursday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_thursday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.thursday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_thursday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.thursday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='friday') Friday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_friday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.friday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_friday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.friday.to==provider_break) #{provider_break}
                                        .form-group
                                        label.col-sm-3.control-label(for='thursday') Saturday
                                        .col-sm-3
                                            select(class='selectpicker', name='break_saturday_from')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.saturday.from==provider_break) #{provider_break}
                                        .col-sm-1
                                            label.col-sm-3.control-label(for='to') to
                                        .col-sm-3
                                            select(class='selectpicker', name='break_saturday_to')
                                                each provider_break in provider_breaks
                                                    option(value=provider_break, selected=provider.breaks.saturday.to==provider_break) #{provider_break}
                                    .form-group
                                        .col-sm-offset-3.col-sm-4
                                            button.btn.btn.btn-primary(type='submit') Save changes
//- Page-specific stuff
block scripts
    script(src='/lib/bootstrapValidator/dist/js/bootstrapValidator.js')
    script(src='/lib/moment/min/moment.min.js')
    script(src='/lib/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')
    script(src='/lib/jquery.inputmask/dist/jquery.inputmask.bundle.min.js')

    script.
        $(document).ready(function() {
            // Load tabs
            $.getScript('/lib/application/tabs.js');
            // Load provider
            $.getScript('/lib/application/provider.js').done(function () {
                var provider_breaks = !{JSON.stringify(provider_breaks)};
                resrvo_provider.init(provider_breaks);
            });
        });


