extends ../layouts/layout
block head
    title #{application} &middot; Schedule Settings Management
block content
    .container
        .row
            .col-sm-12
                .page-header
                    h2
                        i.fa.fa-file-text-o
                        | &nbsp;Schedule Settings Management
                form.form-horizontal(role='form', id='providerForm', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    table.table.table-bordered
                        thead
                        tr
                            th
                            th Mon
                            th Tue
                            th Wed
                            th Thu
                            th Fri
                            th Sat
                            th Sun
                        tbody
                            tr.general-schedule
                                td General Hours
                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.monday.open}'=='true', name='monday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='monday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.monday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='monday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.monday.end==hour.key) #{hour.value}
                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.tuesday.open}'=='true', name='tuesday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='tuesday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.tuesday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='tuesday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.tuesday.end==hour.key) #{hour.value}

                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.wednesday.open}'=='true', name='wednesday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='wednesday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.wednesday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='wednesday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.wednesday.end==hour.key) #{hour.value}

                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.thursday.open}'=='true', name='thursday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='thursday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.thursday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='thursday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.thursday.end==hour.key) #{hour.value}

                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.friday.open}'=='true', name='friday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='friday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.friday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='friday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.friday.end==hour.key) #{hour.value}

                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.saturday.open}'=='true', name='saturday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='saturday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.saturday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='saturday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.saturday.end==hour.key) #{hour.value}

                                td.open
                                    .cell-wrap
                                        label.checkbox-inline.schedule-onoff
                                            input(type='checkbox', checked='#{schedule.sunday.open}'=='true', name='sunday_open')
                                            | Open
                                        .schedule-times-wrap
                                            select.form-control.input-sm.start-time(name='sunday_start')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.sunday.start==hour.key) #{hour.value}
                                            small to
                                            select.form-control.input-sm.end-time(name='sunday_end')
                                                each hour in hours
                                                    option(value=hour.key, selected=schedule.sunday.end==hour.key) #{hour.value}

                                each provider in providers
                                        tr.provider-schedule
                                            td #{provider.first_name} #{provider.last_name}
                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.monday.providers[provider._id].available}'=='true', name='provider_monday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_monday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.monday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_monday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.monday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.tuesday.providers[provider._id].available}'=='true', name='provider_tuesday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_tuesday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.tuesday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_tuesday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.tuesday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.wednesday.providers[provider._id].available}'=='true', name='provider_wednesday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_wednesday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.wednesday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_wednesday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.wednesday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.thursday.providers[provider._id].available}'=='true', name='provider_thursday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_thursday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.thursday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_thursday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.thursday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.friday.providers[provider._id].available}'=='true', name='provider_friday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_friday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.friday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_friday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.friday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.saturday.providers[provider._id].available}'=='true', name='provider_saturday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_saturday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.saturday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_saturday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.saturday.providers[provider._id].end==hour.key) #{hour.value}

                                            td.open
                                                .cell-wrap
                                                    a.btn.btn-success.btn-xs.show-times(href='#')
                                                        span.glyphicon.glyphicon-pencil
                                                    a.btn.btn-danger.btn-xs.hide-times.hidden(href='#')
                                                        span.glyphicon.glyphicon-remove
                                                    label.checkbox-inline.schedule-onoff
                                                        input(type='checkbox', value='#{provider._id}', checked='#{schedule.sunday.providers[provider._id].available}'=='true', name='provider_sunday_open')
                                                        | Available
                                                    .schedule-times-wrap.hidden
                                                        select.form-control.input-sm.start-time(name='provider_sunday_start[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.sunday.providers[provider._id].start==hour.key) #{hour.value}
                                                        small to
                                                        select.form-control.input-sm.end-time(name='provider_sunday_end[#{provider._id}]')
                                                            each hour in hours
                                                                option(value=hour.key, selected=schedule.sunday.providers[provider._id].end==hour.key) #{hour.value}

                    .form-group
                        .col-sm-4
                            button.btn.btn.btn-primary(type='submit') Save changes

//- Page-specific stuff
block scripts
    link(rel='stylesheet', href='/lib/watable/watable.css')
    script.
        $(document).ready(function() {
            // Load schedule settings
            $.getScript('/lib/application/schedule_settings.js').done(function () {
                resrvo_schedule_settings.init();
            });
        });

